* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(107, 111, 193);
    text-align: center;
}

.container {
    height: 70vh;
    /*70% part strictly visible to screen  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    /* 60% of game container*/
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    /* if no area then come to next line*/
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* gap between boxes*/
}

.box {
    height: 18vmin;
    /* 18% for each box line of game container*/
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #971111;
    background-color: antiquewhite;
}

#reset {
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #03020b;
    color: white;
    border-radius: 0.5rem;
    border: none;

}

#new-btn {
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #03020b;
    color: white;
    border-radius: 0.5rem;
    border: none;
}

#msg {
    padding: 1rem;
}

.hide {
    display: none;
}